* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  display: flex;
  justify-content: center;
}

ul li {
  list-style-type: none;
}

button {
  border: none;
  border-radius: 4px;
  padding: 6px 10px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  pointer-events: none;
}

input:focus {
  outline: none;
}

h2,
form {
  margin-bottom: .5rem;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  gap: 10px;
  align-items: stretch;
  width: 100%;
  max-width: 1200px;
  height: 90vh;
  overflow: auto;
}

html {
  display: flex;
  justify-content: center;
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
}

main {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 1300px;
}

.submit-btn {
  font-size: 16px;
  background-color: #008cba;
}

#input {
  width: 80%;
  max-width: 500px;
}

.todo-box {
  width: 50%;
  min-width: 400px;
  max-width: 600px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  border-radius: .5rem;
  background-color: #f0f0f0;
}

.todo-box ul {
  width: 100%;
}

.todo-box li {
  width: 100%;
  padding: .5rem 1rem;
  font-size: 1rem;
  font-weight: 300;
  border-radius: .5rem;
  background-color: #dcd6c1;
  display: flex;
  align-items: center;
}

.todo-box li span,
.todo-box li input {
  flex: 1
}

.todo-box .btn-box {
  display: flex;
  gap: 5px;
}

.todo-box button {
  margin: 0 4px;
}

.btn-delete {
  background-color: #c94c4c;
}

.btn-edit {
  background-color: #008cba;
}

.btn-change {
  background-color: #4caf50;
}

.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.todo-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
}

.todo-list li {
  display: flex;
  justify-content: space-between;
}

.todo-list li span {
  flex-grow: 1;
  text-align: center;
}

.edit-input {
  display: none;
}